
$max-width: 230px;

md-sidenav {
    width: $max-width;
    transition: width 300ms ease-in-out;
    font-family: Montserrat, sans-serif;
}

.main-sidebar {
    background: #FFF;
    padding-top: 50px;
    min-height: 100vh;
    z-index: 810;
    font-size: 14px;
    overflow: auto;
}

.main-sidebar .block {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}



.main-sidebar .active {
    border-left: 5px outset #004095;
    cursor: pointer;
    padding-left: 15px;
}

.main-sidebar .block label {
    display: block;
    cursor: pointer;
    color: #878787;
    line-height: 20px;
    border-bottom: none;
    background: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.main-sidebar .block label:hover {
    color: #00bcd4;
    position: relative;
}

.main-sidebar .block a {
    text-decoration: none;
    color: inherit;
}

.main-sidebar .btn-group {
    width: 100%;
}

.main-sidebar .form-inline .form-group {
    width: 49%;
}

.main-sidebar .body h1 {
    font-size: 0.9em;
    height: 30px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #00bcd4;
    text-transform: uppercase;
    font-weight: normal;
}