
//### Card options
.flex-colum-options {
    @include mainJustify;
    @include mainRowDirection;
}

.flex-colum-options .box {
    @include mainJustify;
    @include mainRowDirection;
    width: calc((100% - 20px)/3);
    max-height: 400px;
    margin-bottom: 20px;
    padding: 16px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;    
}

.flex-colum-options .box:hover {
    background-color: #f7f7f7;
}

.flex-colum-options .box[disabled] {
    background-color: #e4e4e4;
    cursor: not-allowed;
}


.flex-colum-options .box .title {
    font-size: 22px;
    padding-top: 10px;
}

.flex-colum-options .box .header {
    font-size: 45px;
}

.flex-colum-options .box .header .circle {
    width: 90px;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 50px;
    color: #fff;
}

.flex-center {
    @include mainCenter;
    width: 100%;
}
//### logo-perfil
.flex-colum-options .logo-perfil {
    width: 100%;
    height: 100%;
}

.flex-colum-options .logo-perfil img {
    width: 50%;
    height: 50%;
}
//### END Card options


//### Opciones menu modulo
.icon-box {
    margin-top: 10px;
    position: relative;
    padding: 0 0 0 80px;
    margin-bottom: 40px;
}

.icon-box.ibox-plain .ibox-icon {
    border: none !important;
    height: auto !important;
}

.icon-box .ibox-icon {
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    top: 0;
    left: 0;
}

.icon-box .ibox-icon i, {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
}

.icon-box.ibox-plain .ibox-icon i {
    font-size: 48px;
    line-height: 1 !important;
}

.icon-box.ibox-plain .ibox-icon i, .icon-box.ibox-plain .ibox-icon img {
    border: none !important;
    background-color: transparent !important;
    color: #2196f3;
    border-radius: 0;
}

.icon-box .ibox-icon i {
    font-style: normal;
    font-size: 28px;
    text-align: center;
    line-height: 64px;
}

.icon-box h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    color: rgba(0,0,0,.87);
}

.icon-box button {
    margin: 8px 0 0;
}


//### END Opciones menu modulo