//#### var
$primary-color: #484848;
$secondary-color: #004095;
$primary-highlight-color: white;
$secondary-highlight-color: #e1e1e1;
$primary-font: "Segoe UI",Helvetica,Arial,sans-serif;

$red-mrw: #df0023;
$gray-mrw: #e0cdcd;
$blue-mrw: #003783;
