/* Header */


header.navbar-custom {
    width: 100%;
    z-index: 1;
    min-height: 66px;
}

body.modal-open header {
    z-index: 0;
}

.top-bar {
    background: #3b3f51 none repeat scroll 0 0;
    float: left;
    padding-right: 19px;
    width: 100%;
    height: 42px;
}

.logo {
    float: left;
    margin-right: 70px;
    padding: 10px 30px 15px 49px;
}

.logo > a {
    color: #ffffff;
    float: left;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    text-decoration: none;
}

.logo > a > i {
    color: #afafaf;
    margin-right: 6px;
}

.menu-action {
    height: 13px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
}

.menu-options.active > span {
    margin-left: -7px;
}

.menu-action::after {
    background: #aaa9a9 none repeat scroll 0 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.menu-options.active .menu-action::after {
    bottom: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu-action::before {
    background: #aaa9a9 none repeat scroll 0 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 100%;
}

.menu-options.active .menu-action::before {
    top: 4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-action > i {
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 20px;
}

.menu-action > i::before {
    background: #aaa9a9 none repeat scroll 0 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.menu-options {
    color: #afafaf;
    cursor: pointer;
    float: left;
    font-size: 22px;
    height: 38px;
    left: 0;
    line-height: 25px;
    margin-top: 8px;
    position: relative;
    text-align: center;
    width: 41px;
}

.menu-options.active {
    z-index: 2147483647;
}

.name-area {
    float: right;
    margin-right: 30px;
    padding: 2px 0;
}

.name-area > a {
    color: #94979f;
    float: left;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.name-area > a > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-right: 17px;
    margin-top: 7px;
    width: 26px;
}

.name-area > a strong {
    color: #94979f;
    float: left;
    margin: 9px 0;
}
