<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="text-super">Perfil de usuario {{::viewmodel.user.username}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">&nbsp
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="viewmodel.save()">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Usuario</label>
                                <input class="form-control" type="text" required ng-model="viewmodel.user.username">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Contraseña</label>
                                <input class="form-control" type="password" id="password" placeholder="******" ng-model="viewmodel.password">
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Confirma contraseña</label>
                                <input class="form-control" type="password" id="confirm_password" placeholder="******">
                            </div>

                        </div>
                        <div class="row">

                            <div class="form-group col-lg-4">
                                <label>Rol</label>

                                <select class="form-control" ng-model="viewmodel.user.rol.id" required>
                                     <option value="">Seleciona una opción</option> 
                                    <option ng-selected="viewmodel.user.rol.id == 1" ng-value="1">Cliente</option>
                                    <option ng-selected="viewmodel.user.rol.id == 2" ng-value="2">Webmaster</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>Email</label>
                                <input class="form-control" type="text" ng-model="viewmodel.user.email" required>
                            </div>

                            <div class="form-group col-lg-4">
                                <label>&nbsp;</label>
                                <br>
                                <input type="checkbox" ng-model="viewmodel.user.lock"> &nbsp; Bloqueado
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <a ui-sref="UserList" class="btn btn-danger btn-lg">Cancelar</a>
                                    <input type="submit" class="btn btn-primary btn-lg" value="Confirmar">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>