html {
  background: #F5F5F5; }

body {
  background: #F5F5F5;
  color: #58666e;
  margin: 0;
  line-height: 1.7em;
  font-size: 13px;
  font-family: 'Segoe UI Condensed','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2); }

.text-super {
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: -.01em;
  font-weight: 700; }

.text-normal {
  font-weight: 400; }

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.6;
  color: #37363e; }

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.checkbox {
  padding-left: 20px; }

.checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 5px; }

.radio label, .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 12px;
  color: #555555; }

input, select {
  border-radius: 3px;
  padding-left: 10px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #BDC4C9;
  box-shadow: inset 0px 1px 0px #F1F0F1; }

/*
* Login Pages
*/
.login-form {
  width: 360px;
  padding-top: 100px;
  margin: 0px auto;
  text-shadow: none; }

.login-form .form {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px; }

.login-form .form img {
  margin-bottom: 18px; }

.login-form .form .profile {
  border-radius: 999px; }

.login-form .form .top {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 30px 0; }

.login-form .form .top .icon {
  width: 100px;
  height: 100px; }

.login-form .form .top h1, .login-form .form .top h4 {
  margin: 0; }

.login-form .form .top h1 {
  color: #37363E;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  line-height: 1.6; }

.login-form .form .top h4 {
  font-weight: normal;
  color: #76757B;
  font-size: 15px; }

.login-form .form .form-area {
  padding: 40px; }

.login-form .form .form-area .group {
  position: relative;
  margin-bottom: 20px; }

.login-form .form .form-area .form-control {
  padding-left: 38px;
  height: 40px; }

.login-form .form .form-area .fa {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 16px;
  color: #C3C3C3; }

.login-form .form .form-area .btn {
  height: 42px;
  font-weight: 600; }

.login-form .form .form-area .checkbox {
  margin-bottom: 20px; }

.login-form .footer-links {
  color: #76757B;
  padding: 10px 5px; }

.login-form .footer-links a {
  color: #76757B; }

.login-form .footer-links a:hover {
  color: #37363e; }

/* Header */
header.navbar-custom {
  width: 100%;
  z-index: 1;
  min-height: 66px; }

body.modal-open header {
  z-index: 0; }

.top-bar {
  background: #3b3f51 none repeat scroll 0 0;
  float: left;
  padding-right: 19px;
  width: 100%;
  height: 42px; }

.logo {
  float: left;
  margin-right: 70px;
  padding: 10px 30px 10px 49px;
  border-right: 2px solid #f5f5f5; }

.logo > a {
  color: #ffffff;
  float: left;
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  font-weight: 500;
  padding: 0;
  text-decoration: none; }

.logo > a > i {
  color: #afafaf;
  margin-right: 6px; }

.menu-options {
  color: #afafaf;
  cursor: pointer;
  float: left;
  font-size: 22px;
  height: 38px;
  left: 0;
  line-height: 25px;
  margin-top: 8px;
  position: relative;
  text-align: center;
  width: 41px; }

.menu-options a {
  color: #e6e6e6 !important;
  font-size: 18px; }

.menu-options a:hover {
  text-decoration: underline; }

.name-area {
  float: right;
  margin-right: 30px;
  padding: 2px 0; }

.name-area > a {
  color: #94979f;
  float: left;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: normal; }

.name-area > a > img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  float: left;
  margin-right: 17px;
  margin-top: 7px;
  width: 26px; }

.name-area > a strong {
  color: #94979f;
  float: left;
  margin: 9px 0; }
