<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="text-super">Haga que sus datos cobren vida</h1>
            <h3 class="text-normal">Integracion BI transforma los datos en objetos visuales enriquecidos que puede recopilar y organizar, lo que le permite centrarse en lo que realmente importa.</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">&nbsp;</div>
    </div>
    <style>
        .card {
            border: 1px solid #eee;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }
        
        .card label {
            width: 100%;
            margin-top: 12px;
        }
    </style>
    <div class="row">

        <div class="col-lg-offset-3 col-lg-3">
            <div class="card" ui-sref="ReportList">
                <img src="img/reportecustom.png" />
                <label>Generar panel personalizado</label>
            </div>
        </div>

        <div class="col-lg-3" ui-sref="Bot">
            <div class="card">
                <img src="img/layer.png" />
                <label>Bot Service</label>
            </div>
        </div>

        <div class="col-lg-3" ui-sref="UserList">
            <div class="card">
                <img src="img/layer.png" />
                <label>Gestion de usuarios</label>
            </div>
        </div>
    </div>


</div>