<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; IE=9" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <title>IntegraBI</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.min.css" />
    <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="/lib/angular-block-ui/dist/angular-block-ui.min.css" />
    <link rel="stylesheet" href="/lib/ngtoast/dist/ngToast.min.css" />
    <link rel="stylesheet" href="/lib/gridstack/dist/gridstack.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik:900" rel="stylesheet">
</head>
<body>
    <script>
        var SP = {};
        SP.lang = 'es-ES';
        if (!String.prototype.includes) {
            String.prototype.includes = function () {
                'use strict';
                return String.prototype.indexOf.apply(this, arguments) !== -1;
            };
        }
    </script>


    <div block-ui="spinner" ng-app="App" class="block-ui-main">
        <appheader ng-if="state !==  null && state.name !== 'Login'"></appheader>
        <appmenuleft ng-if="state !==  null && state.name !== 'Login'"></appmenuleft>

        <div>
            <toast></toast>
            <div ui-view ng-cloak style="margin-top:30px;"></div>
        </div>
    </div>



    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/lodash/dist/lodash.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/lib/angular-aria/angular-aria.min.js"></script>
    <script src="/lib/angular-block-ui/dist/angular-block-ui.min.js"></script>
    <script src="/lib/angular-cookies/angular-cookies.js"></script>
    <script src="/lib/angular-material/angular-material.min.js"></script>
    <script src="/lib/angular-messages/angular-messages.min.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/lib/angular-ui/build/angular-ui.min.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/moment/moment.js"></script>
    <script src="/lib/ngtoast/dist/ngToast.min.js"></script>
    <script src="/lib/gridstack/dist/gridstack.min.js"></script>
    <script src="/lib/gridstack-angular/dist/gridstack-angular.min.js"></script>


    <!-- inject:dev:js -->
    <!-- the rest of the *.js files will be injected here -->
    <!-- endinject -->



</body>
</html>